/* Font */
@font-face {
    font-family: 'ralewaythin_italic';
    src: url('font/raleway-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('font/raleway-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaythin';
    src: url('font/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('font/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* Body */
header {
    font-family: 'ralewaythin';
    font-weight: bolder;
    font-size: 12px;
}

ul {
    list-style-type: none;
}

a.nounderline:link { 
    text-decoration:none; 
}
  
section {
    color: blue;
    font-family: 'ralewaythin';
    font-weight: italic;
    font-size: 80px;
}